<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block titulo %}SIMAP{% endblock %}</title>
</head>
<body>

    <nav>
       <a href="#">SIMAP</a>
       <ul>
        <li><a href="#">Turmas</a></li>
        <li><a href="#">Trilhas</a></li>
        <li><a href="#">Presença</a></li>
        <li><a href="#">Painel</a></li>
       </ul>
    </nav>

    <main>
        {% block conteudo %}{% endblock %}
    </main>

</body>
</html>