{% extends 'base.html' %}

{% block title %}Turmas - SIMAP{% endblock %}

{% block content %}
    <h2>Turmas</h2>
     <a href="{% url 'criar_turma' %}" class="btn btn-primary">Nova Turma</a>
     <a href="{% url 'criar_matricula' %}" class="btn btn-secondary">Matricular Aluno</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Período</th>
                <th>Docente</th>
            </tr>
        </thead>
        <tbody>
            {% for turma in turmas %}
            <tr>
                <td>{{ turma.nome }}</td>
                <td>{{ turma.periodo }}</td>
                <td>{{ turma.docente }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Nenhuma turma cadastrada ainda.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}